/*HEADER*/

header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    position: absolute;
    box-shadow: 0px 11px 8px -10px rgba(0,0,0,0.75);
}

.logo-issuu {
    width: 80%;
    float: left;
    margin-top: 10px;
}

.logo-issuu img {
    margin-left: 100px;
}

.signIn {
    width: 20%;
    float: right;
    text-align: right;
/*margin o padding right*/
}

.signIn p {
    padding-right: 100px;
}

/*MAIN*/

body {
    position: relative;
}  


main {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.text-container {
    padding-left: 100px;
    padding-top: 100px;
    flex-grow: 1;
}
.empty-container {
    flex-grow: 1;
}

.email {
    position: relative;
    width: 100%;
    height: 20px;
}

.password {
    position: relative;
    width: 100%;
    height: 20px;
}

.checkbox {
    padding-top: 20px;
}

.account-button {
    border-radius: 12px;
    color: gray;
    border-color: gray;
    border-style: dashed;
}

.create-account {
    padding-top: 20px;
}